<app-header></app-header>
<div>
    <div id="taskForm" class="section">
        <input type="text" id="task" placeholder="add item"/>
        <select id="level">
            <option value="low">Low Importance</option>
            <option value="medium" selected>Important</option>
            <option value="high">High Importance</option>
        </select>
        <select id="type">
            <option value="school">School</option>
            <option value="home" selected>Home</option>
            <option value="personal">Personal</option>
            <option value="work">Work</option>
        </select>
        <input type="button" value="Add" id="add" />
    </div>
    <div id="taskDisplay" class="section">
        <div id="taskHeader">
            <label>3 Items</label>
            <select>
                <option value="all">Show All</option>
                <option value="low">Show Low Importance</option>
                <option value="medium">Show Important</option>
                <option value="high">Show High Importance</option>
            </select>
            <button>Clear All</button>
        </div>

        <div *ngFor='let in of list ;let i = index'>
            <div id="item">
                <div>
                    <h3>{{list[i].title}}</h3>
                    <p>Level: {{list[i].level}}<br />Type: {{list[i].type}}</p>
                </div>
                <button title="remove" 
                (click)="remove()">X</button>
            </div>
        </div>
    </div>
</div>


