<p id="title">My account</p>

<div id="account">
    <div id="acc_section">
        <label>User Profile</label>
        <div id="acc_details">
            <div id="acc_item_info">
                <p>Name</p>
                <p>John Smith</p>
                <br />
                <p>Email</p>
                <p>johnsmith@scotibank.com</p>
                <br />
                <p>User role</p>
                <p>Admin</p>
            </div>
            <div id="acc_item_controls">
                <p>Edit</p>
            </div>
        </div>
    </div>

    <div id="acc_section">
        <label>ATM assignment</label>
        <div id="acc_details">
            <div id="acc_item_info">
                <p>ATM assignment</p>
                <p>TT1121, TT122, TT123</p>
            </div>
            <div id="acc_item_controls">
                <p>Edit</p>
            </div>
        </div>
    </div>

    <div id="acc_section">
        <label>User Password</label>
        <div id="acc_details">
            <div id="acc_item_info">
                <p>Password</p>
                <p>*********</p>
            </div>
            <div id="acc_item_controls">
                <p>Change password</p>
            </div>
        </div>
    </div>
</div>
